NationalParks.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
			targetNamespace="https://github.com/Eman09qp/CSE-445---Project-4"
			xmlns="https://github.com/Eman09qp/CSE-445---Project-4"
			elementFormDefault ="qualified"
			attributeFormDefault="unqualified">
	<xsd:annotation>
		<xsd:documentation xml:lang="en">Project 4</xsd:documentation>
	</xsd:annotation>
	<xsd:element name="NationalParks" type="ParkType"/>
	<xsd:complexType name="ParkType">
		<xsd:sequence>
			<xsd:element name="NationalPark" type ="ParkDetails" minOccurs="1" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ParkDetails">
		<xsd:sequence>
			<xsd:element name="Name" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="Phone" type="PhoneType" minOccurs="1" maxOccurs="3"/>
			<xsd:element name="Address" type="AddressType" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
		<xsd:attribute name="Rating" type="RatingType" use="optional"/>
	</xsd:complexType>
	<xsd:complexType name="AddressType">
		<xsd:sequence>
			<xsd:element name="Number" type="xsd:integer" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="Street" type ="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="City" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="State" type="StateType" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="Zip" type="ZipType" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
		<xsd:attribute name="NearestAirport" type="xsd:string" use="required"/>
	</xsd:complexType>
	<xsd:simpleType name="RatingType">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="([0-4]\.[0-9])|(5\.0)"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="StateType">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[A-Z]{2}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ZipType">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="\d{5}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="PhoneType">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="\d{3}-\d{3}-\d{4}"/>
		</xsd:restriction> 
	</xsd:simpleType>
</xsd:schema>
